[submodule "main/interface/clip"]
	path = main/interface/clip
	url = https://github.com/dacap/clip.git
[submodule "main/interface/cpp-tiktoken"]
	path = main/interface/cpp-tiktoken
	url = https://github.com/LagPixelLOL/cpp-tiktoken
